<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="ios-apps-outline"></ion-icon>
    </button>
    <div>
      <ion-icon float-right name="md-barcode" (click)="showCode()"></ion-icon>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      설정
    </ion-card-header>
    <ion-card-content>
      
      <ion-item>
        <ion-label>푸시 알림 받음</ion-label>
        <ion-checkbox [(ngModel)]="pushYN" (ionChange)="changePush()"></ion-checkbox>
      </ion-item>
      
      <ion-grid>
        <ion-row>
          <ion-col col-12 *ngFor="let list of msgList">{{list.msg}}<ion-badge *ngIf="list.id==1" item-end>new</ion-badge></ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label floating>발송메세지 쓰기</ion-label>
        <ion-input #pushInputMesaage type="text" value=""></ion-input>
      </ion-item>
      <button ion-button block (click)="sendPush(pushInputMesaage.value)">푸시 알림 발송</button>
    </ion-card-content>
  </ion-card>
</ion-content>